<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Class List</title>
		<meta charset="utf-8" />
		<script src="/cdn/scripts/class/index.js"></script>
		<!-- <link rel="stylesheet" href="/cdn/css/main.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

<body>
	<h1>Students in the School of EIE:</h1>
		<ol class="list-group" id="classList" style="width: 400px">
			<!-- The list students in the school-->
	</ol>
	Add a new student:
	<input class="form-control is-valid" type="text" id="newStudentInput" style="width: 300px"></input>
	<button class="btn btn-primary" type="button" id="addStudentButton">Add</button>
</body>
</html>

